__pycache__
.idea
outputs
wandb
.venv
Solver/ADM/TESTING
Solver/ADM/precursor_?
Solver/ADM/precursor_??
Solver/.ADM*
RESULTS
LES_RUNS
*.out
*.err
input.i3d
launch_dummy_run
launch_run
eval_dummy_run
training_ppo*
eval_ppo*
